.forecast {
  background-color: white;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  width: 291px;
  height: 438px;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.forecast__temp-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
	width: 209px;
	font-size: 106px;
	color: #771921;
  border-bottom: 1px solid #771921;
}

.forecast__graph {
  border-bottom: 1px solid #771921;
	padding: 25px 0 20px 0;
	width: 209px;
}
