.forecast {
	width: 291px;
	height: 438px;
	background-color: #ffffff;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	float: left;
}

.forecast__temp {
	width: 209px;
	height: 144px;
	border-bottom: 1px solid #771921;
	margin-left: 40px;
}

.forecast__temp-text {
	font-size: 101px;
	color: #771921;
	width: 209px;
	text-align: center;
	float: left;
	margin-top: 10px;
}

.forecast__graph {
	width: 209px;
	height: 98px;
	border-bottom: 1px solid #771921;
	margin-left: 40px;
}

.forecast__graph-pic {
	margin-top: 25px;
	width: 209px;
}
