.widget {
	width: 583px;
	height: 438px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.44);
	box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.44);
	font-family: 'dosislight';
}
